/*comment stuff*/
body {
    background: #0ff;
    margin: -2px;
}

h1 {
    background: #f0f;
    text-align: center;
    margin: -2px;
}

p {
    padding: 10px;
}

h3 {
    padding: 10px;
}

@media only screen and (max-width: 480px) {

    body{
        background-color: #00f;
    }


}

@media only screen and (min-width: 481px) and (max-width: 768px){

    body {
        background-color: #0f0;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    body {
        background-color: #f00;
    }

}

@media only screen and (min-width: 1025px) {

    body {
        background-color: #0ff;
    }
}

