/*comment stuff*/
body {
    background: #fff;
    margin: -2px;
}

h1 {
    background: #f0f;
    text-align: center;
    margin: -2px;
    padding: 50px;
    color: #fff;
}

p {
    padding: 10px;
}

h3 {
    padding: 10px;
    color:#f0f;
}

#grad {
    background-image: linear-gradient(180deg, #707, #f0f);
    transform: rotate(180deg);
}
